//- Preview Modal

.preview-original
.preview-large
  display: inline-block

  .preview-header
    background-image: none
    width: 0px
    height: 0px

  .preview-content
    width: 453px
    height: 307px
    margin-bottom: 20px
    border: none

.preview-original
  padding-top: 78px

  .ad-highlight
    border-style: solid
    border-color: #44a0cc

.preview-small
  .preview-header
    background-image: url('/images/browser-bar-small.png')
    width: 137px
    height: 11px

  .preview-content
    width: 136px
    height: 92px

  .preview-ad
    transform-scale(0.3)

.preview-content
  position: relative
  overflow: hidden
  border: solid 1px #ccc
  border-top: none

.preview-background
  transform-origin(0% 0%)
  position: absolute

.preview-ad
  transform-origin(0% 0%)
  position: absolute
  color: #ffffff
  font-size: 15px
  background-color: #44aacc
  border-style: solid
  border-color: #44aacc
  border-radius(2px)

#preview-top
  text-align: center
  margin-bottom: 16px

#preview-bottom
  height: 30px

#preview-wrapper
  position: relative
  text-align: center
  display: inline-block
  background-image: url("/images/browser-frame.png")
  width: 531px
  height: 421px

#bg-position-top-slider
  position: absolute
  height: 309px
  top: 77px
  left: 509px

#img-upload-container
  width: 300px

/* legacy */
.mini-preview-old
  transform-scale(0.3)
  transform-origin(0% 0%)

  .img-preview
  .ad-preview
  .bg-preview
    transform-origin(0% 0%)



