@import "../variable.styl"

#naming-container

  fieldset.inner-container
    background-color: transparent

    .description
      width: 425px
.keyword-error
  background-color: #f5d7d7
  color: #dd0f30

.error-details
  width: 330px
  display: inline-block
  margin-bottom: 20px
  color: $error-color

.all-countries-check
  display: inline-block
  width: 180px
