.integration-page
  h4
    padding: 20px

  #webhook-sample
    margin-bottom: 30px

  button[type="submit"]
    margin-right: 30px

  option:first-child
    color: #999

  .button-row
    margin-right: 15px

  #spinner-container
    position: fixed
    top: 50%
    left: 50%

  .select2-container
    margin-top: 15px

  label.vertical
    margin-top: 15px
    font-size: 13px
