//- Login Page

.login-panel
  background-color: #f0f0f0
  width: 350px
  padding: 20px

  .control-label
    font-weight: bold
    font-size: 12px
    color: #333
    width: 100px
    text-align: left
    margin-left: 10px

  .form-horizontal
    margin: 0
    padding-top: 10px

    .controls
      margin-left: 113px

  input
    border-radius(0)
    width: 223px

  .form-horizontal
    .control-group
      margin-bottom: 20px

  a
    padding-right: 20px

  a.icon
    padding-right: 0

  .btn-bar
    display: inline-block

  .no-stress
    margin: 0 0 10px 10px
    padding-right: 10px

  .parsley-error-list
    margin-top: 5px
