.salesUser-contents

  .flat-well
    padding: 20px
    background-color: #f5f5f5

    .control-label
      text-align: left

.sales-user-item
  padding: 20px
  margin-bottom: 5px

  label
    line-height: 24px
    vertical-align: middle
    overflow: hidden
    text-overflow: ellipsis
    word-wrap: normal
