@import 'variable.styl'
// TODO: Move all the dropdown related style into here - @robmunro

.adslot-selector
  padding: 10px
  background-color: #e8e8e8

  .select2-container
    width: 407px
    margin-right: 10px

  .btn-primary[disabled]
    opacity: 0.5
    background-color: $btnPrimaryBackground
    color: $white

.adslot-selector-results
  .select2-results
    margin: 0
    padding: 0

  .select2-result
    border-bottom: 1px solid #ddd

.site-option
  height: 50px

  .site-option-logo
    width: 68px
    height: 50px
    line-height: 50px
    display: inline-block
    margin-right: 30px
    vertical-align: top
    text-align: center

  img
    max-width: 68px
    max-height: 40px
    display: inline-block
    vertical-align: middle

  .site-option-details
    display: inline-block
    width: 195px
    padding: 3px
    line-height: 15px
    font-size: 11px
    height: 50px

  .site-option-detail
    font-weight: bold

  .site-categories
    height: 20px
    width: 300px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
    color: #197fc3

  .adslot-option-price-details
    width: 70px
    display: inline-block
    text-align: right
    height: 50px
    vertical-align: top
    padding-top: 6px

