
// 2014 Global color values
// --------------------------------------------------
//TODO: Remove 'color-' when refactor complete


/* Hues */

$color-blueLight = #4681c1
$color-blue = #006dcc
$color-blueDark = #1950a3

$color-greenLight = #7ac479
$color-green = #5bb75b
$color-greenDark = #31a549

$color-redLight = #df6862
$color-red = #da4f49
$color-redDark = #d5382e

$color-orangeLight = #fab756
$color-orange = #faa732
$color-orangeDark = #f8951d

$color-blueGrayLight = #72c1d8
$color-blueGray = #49afcd
$color-blueGrayDark = #0492ba

/* Tones */

$color-white  = #ffffff

$color-grayLightest = #f3f3f3 //  5% Black
$color-grayLighter = #e8e8e8  // 10% Black
$color-grayLight = #d3d3d3    // 20% Black
$color-gray = #ababab         // 40% Black
$color-grayDark = #838383     // 60% Black
$color-grayDarker = #5a5a5a   // 80% Black
$color-grayDarkest = #333333  // 90% Black

$color-black = #000000


// Color Usage

$color-bodyBackground = $color-white
$color-textColor = $color-grayDarkest

