@import variable
@import mixin

box-shadow-color = #999
/* Custom Skin customisation */
.custom-skin

  .navbar
    width: 940px
    margin: auto

  .navbar-inner
    .container
      background-color #fff
    background-color #fff
    background-image: none
    border none
    border-top-radius(0)
    border-bottom-radius(0)
    box-shadow(0 0 0 #fff)
    height: 50px

    filter: none

    .dropdown-toggle, .dropdown-toggle:hover, .dropdown-toggle:active
      background-color: #fff
      border: solid 1px #fff
      color: #999

  .navbar-inner > .container
    width: 910px
    padding: 10px 15px

  .navbar
    .nav
      margin-top: 0

  .navbar .brand
    display: none

  .accordion-item-row
    margin-bottom: 10px

  .button-cart-container
    margin-left: 0

  .accordion-item-row
    box-shadow(0 0 8px #999)

  #cart-widget, .nav
    margin-top: 0

  .subnav-fixed
    position fixed

  .subnav
    background-color: #fff

    #checkout-steps
      background-color: #fff
      height 40px
      margin-bottom: 0
      li
        background-color: #e6e6e6
        div
          color: #fff

        .adslot-icon-card, .adslot-icon-document, .adslot-icon-chart
          border-top-radius(50%)
          border-bottom-radius(50%)
          background-image: none !important
          background-color: #fff
          width: 16px
          height: 16px
          position: relative

        .adslot-icon-kiosk
          background-image: none !important
          position: relative
          top: 4px

      .icon-content
        display: block
        color: #e6e6e6
        position: relative
        left 1px
        font-size: 10px

    ul.nav
      li.span3
        width 235px
        border-left none
      a.current-step
        background-color: #555
        color: #fff
        border-right none

        .icon-content
          color: #555!important

      .step-content
        height: 35px
        vertical-align: middle
        position: relative
        top: 1px
        left: 3px

  .subnav-fixed
    background none


  #campaignSettings
    background-color #fff
    padding 15px
    margin-bottom 20px

  .adslots-header
    background-color: #fff
    padding: 15px 20px
    width: 900px
    margin-bottom: 0

  .custom-header
    display: block

  .cart-summary
    margin-top: 40px
    margin-bottom: 20px

  .booking-row
    position: relative
    top: -4px

  .nav-btn.active, .nav-btn
    color: #333333 !important
    background-color: #ffffff !important
    i.icon-chevron-down.icon-white
      background-image: url($iconSpritePath) !important
      background-position: -313px -119px !important

    i.adslot-icon-dropdown
      background-image: url("/images/icons/Universal_Media_Icons_Dark_Coloured.png") !important

    i.adslot-icon-cart-widget
      background-image: url("/images/icons/Universal_Media_Icons_Dark_Coloured.png") !important

  #footer
    background-color: #fff
    width: 900px
    margin: auto
    height: 64px
    padding: 0 20px
    padding: 10px 20px

    .container
      width: 900px

      .footer-line
        border-top: solid 2px #aaa

    .footer-adslot-logo
      float: left
      position: relative
      top: 10px

    .footer-links
      float right
      position relative
      top -20px
      right -60px
      font-size 0.9em

      a
        color: #999

      a:hover
        color: #555

  .approval-confirmation
    margin-top: 45px

.custom-skin > .container
  margin-top: -18px
  margin-bottom: 0
  padding:  10px 0
  width: 940px
  border-top-radius(0)
  border-bottom-radius(0)
  background-color: transparent


