/* -------------- demand sources ---------------- */
#edit-demand-source
  .demand-source-input
    display:inline-block

  .demand-source-label
    width: 280px
    margin-left:10px
    display:inline-block

.filter-item, .adslot-item-row, .adslot-list-heading, .section-title
  font-size: 12px !important

.demand-source-content

  .sidebar
    width:190px
    margin-left:0

  .content
    margin-left:0
    padding-left:10px

  .adslot-list-heading
    padding: 0
    color: #AAA
    margin-bottom: 10px

    .col-details
      margin-left: 20px

    .col-type
      margin-left: 0px

    .col-demand
      margin-left: 10px

  .adslot-item-row
    padding: 10px 0

    .siteUrl
    .nameAndSizeDimensions
      margin-left: 20px

    .siteUrl
      color: #3772B1
      font-weight: bold

  .adslot-item-row:hover
    background-color: #f5f5f5 !important

  .padding-none
    padding: 0 !important

  .term
    padding-top: 15px
    color: #555

  .demand-source-selection
    position: relative
    padding-top: 10px

  .no-demand-sources
    position: relative
    padding-top: 15px

  .demand-items
    padding-bottom: 5px

  .demand-source-menu
    width: 340px

    li
      padding: 0px 20px

    .demand-source-menu-title
      font-weight: bold
      color: #555
      margin-bottom: 10px
      margin-top: 10px
      margin-left: 20px

    .demand-message-info
      margin: 15px 0 0 0

  .demand-source-item
    display: inline-block
    margin-top: 0

  .demand-source-label
    display: inline-block
    margin-left: 10px

  #adslots-list-view
    div:nth-child(odd) .adslot-item-row
      border-top: 1px solid #ddd
    div:nth-child(even) .adslot-item-row
      border-top: 1px solid #ddd

    .demand-source-dropdown
      background: none
      background-color: #fff
      color: #555
      border: 1px solid #999
      border-radius(0)
      text-align:left
      width:140px

  .nav-tabs > li
    margin-bottom: -2px

  .filter-divider
    border-bottom: 1px solid #e8e8e8
    margin: 5px 0 5px 0

  .filter-section
    margin-bottom: 25px
    .section-title
      padding-bottom: 10px
      color: #AAA

  .filter-item
    padding: 2px 0 2px 2px
    label.checkbox
      margin-bottom:0

.total-fee-rate
  font-size: 24px
  font-weight: bold
  color: #555
  margin-top: 49px

.total-fee-rate-label
  color: #555555
  line-height: 30px

.publisher-demand-source-item
  border-bottom: 1px solid #e8e8e8
  padding: 20px 0px

.publisher-demand-source-list-view
  padding-bottom: 50px

.demandSourceStateProgress
  margin-left: 12px

.demand-source-content
  .label
    font-size: 13px
    color: #fff
    text-shadow: none
    text-align: center
    padding: 9px 0px
    margin-right: 5px

  .label-warning
    background-color: label-warning-color
    background-linear-gradient-top(label-warning-color, label-warning-color-right)

  .label-warning-text
    font-weight: bold
    color: label-warning-color

.demand-source-icon
  margin-right: 10px
  margin-top: -3px

.demand-source-logo
  margin-top: 36px

.demandSourceDescription
  margin-top: 20px

.demand-source-state-progress, .publisher-demand-source-action
  margin-top: 49px

.demand-source-opt-out-modal-question
  color: #05c

.demand-source-state-progress
  margin-right: 28px

.demand-source-fees-report
  td
    &.sold
    &.earned
      text-align: right

  th
    &.sold
    &.earned
      text-align: center

.container-demand-source
  background: #fff

.tab-content-demand-source
  overflow: visible
