@media (min-width: 480px) and (max-width: 768px)
  .navbar-fixed-top .container
     width: 480px

  .navbar-fixed-top .span4
     width: 159px

@media (max-width: 480px)
  .nav .container
     width: 480px

  .nav [class*="span"]
     float: none
     width: 100%

  .navbar-fixed-top .container
    width: auto
    padding: 0
