@import "variable.styl"
@import "mixin.styl"
@import "spinner.styl"

.filterable-list
  background-color: $white

  .no-rows div
    margin-left: 174px

  /* TODO: What's the implication of change both publisher and advertiser to have this CSS rule? */
  .flat-well.side-nav
    padding: 20px
    width: 190px

    .page-title
      padding: 0

    .filter-group-endDate

      .title
        margin: 0

  .content
    padding-top: 12px

    .campaign-heading-row
      .row-content
        line-height: 24px
        padding: 0

      .cell-inline-action-icon
        line-height: 28px
