.preview-ad
  transform-origin(0% 0%)
  position: absolute
  color: #ffffff
  font-size: 11px
  background-color: #44aacc
  border-style: solid
  border-color: #44aacc
  border-radius(0)
  
.preview-ad.preview-ad-small
  font-size: 15px
