@import "variable.styl"
@import "mixin.styl"

#sites
.filterable-list
.page-loading
  .spinner
    position: fixed
    top: 40%
    left: 53%
    vertical-align: bottom
    margin-bottom: -50px
    height: 128px
    width: 95px
    font-size: 15px
    background-color: $gray
    color: #fff
    opacity: 0.9
    z-index: 100
    border-radius(2px)

    .message
      margin-top: 2px
      text-align: center
