// Z-index master list
// -------------------------
// Used for a bird's eye view of components dependent on the z-axis
// Try to avoid customizing these  :)
$zindexDropdown = 1000
$zindexPopover = 1010
$zindexFixedStack3 = 1024 // The 3rd element fixed under the header
$zindexFixedStack2 = 1026 // The 2rd element fixed under the header
$zindexFixedStack1 = 1028 // The 1rd element fixed under the header
$zindexTooltip = 1030
$zindexTooltip = 1030
$zindexFixedNavbar = 1030
$zindexHeader = 1035
$zindexModalBackdrop = 1040
$zindexModal = 1050
