//- Zendesk button overrides - as much as I hate using !importants, this is Zendesk's recommended approach

#zenbox_tab
#feedback_tab_text
  background-color: #51C7E7 !important
  position: fixed
  right: 3%

#zenbox_tab
  transform(none !important)
  right: 3% !important
  bottom: 50px !important
  left: auto !important
  top: auto !important
  border: none !important
  padding: 0px !important
  bottom: 0px !important
  height: 13px !important
  line-height: 18px !important
  margin-right: 13px !important
  min-width: 5px !important
  overflow: visible !important

#feedback_tab_text
  background-image: url(/common/images/icons/icons-30px-20131120.png)
  background-position: 0 -450px
  border-radius(3px !important)
  border: 1px transparent solid !important
  box-shadow: none !important
  box-sizing: border-box  !important
  line-height: 32px  !important
  margin: 0px  !important
  height: 32px !important
  width: 32px !important
  text-indent: 9999em !important
  bottom: 9px !important
  text-align: center !important
