.modal.modal-confirm
  border: none
  width: 400px
  margin-left: -200px
  padding: 10px
  
  .modal-body
    font-size: 14px
    line-height: 20px
  
  .modal-footer
    border-top: none
    background-color: transparent
    text-align: left
    

