.component-file-upload
  display: inline-block
  position: relative
  cursor: pointer
  overflow: hidden

  input
    position: absolute
    top: 0
    right: 0
    height: 100%
    opacity: 0
    font-size: 200px
    cursor: pointer
    
