@import "../variable.styl"

.component-filter-group
  display: inherit
  width: 100%
  padding-bottom: 10px

  .select2-container
    width: 185px

  .title
    color: $gray-lightishish
    margin-top: 20px
    font-size: 13px

    span
      float: right
      font-size: 10px

    .btn-link
      font-size: 11px
      margin-right: 5px

  .body
    padding: 4px 0 8px 0

  .collapsed
    display: none

  .collapsable
    cursor: pointer

    .title:hover
      background-color: $grayLighter
