//- Spectrum Color picker override

.color-selector
  display: inline-block
  width: 150px

.color-input
  display: inline-block
  cursor: pointer
  margin-left: 20px

.sp-replacer
  float: left
  margin-right: 10px
  padding: 0 !important
  border: none !important
  position: relative
  top: 3px

.sp-preview
  margin-right: 0 !important
  border: none !important
  height: 28px !important
  width: 28px !important

.sp-dd
  display: none

.sp-input
  line-height: 18px !important
  padding: 0 5px !important

.sp-container
  border: 0 !important

