@import "../variable.styl"

.status-live
.status-purchased
.on-schedule
  color: $status-live

.status-pending
.ahead-schedule
.status-sent
  color: $status-pending

.status-scheduled
.status-draft
  color: $status-scheduled

.status-attention
.behind-schedule
  color: $status-attention

.status-ended
.status-cancelled
.status-expired
.status-invoice
  color: $status-ended

.status-paid
  color: $status-paid

.status-unpaid
  color: $status-pending

.status-overdue
  color: $status-overdue
